<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bamboo.firstdemo.dao.mapper.UserMapper">
<!--    获取用户信息-->
    <select id="getInfo" parameterType="String" resultType="com.bamboo.firstdemo.bean.User">
        SELECT * FROM user WHERE openid = #{openid}
    </select>
<!--    增加用户信息-->
<!--    <insert id="addUser" parameterType="com.bamboo.firstdemo.bean.User" >-->
<!--        insert into user_list (user_id,password) values (#{user_id},#{password});-->
<!--    </insert>-->

</mapper>